Body {
 
 background-color: #ffffff;
  color: #FDFEFE;
 font-family: Arial, Tahoma sans-serif;
 margin-left: 245px; 
  background-color: rgb(40, 55, 71)
}
 

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #F4F6F7;
  border-bottom: 1px solid #F7F9F9;

}



.sidebar {
height: 3000%;
width: 170px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: white;
  color: black


}


.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

img{
  position: relative;
  top: -40px
   
}


img{
  width: 100%
   
}

img{
  height: 200px
}

img{
  border-radius: 2%
}


h2:before {
    content: ' \2750';
  
}
 
}
h2{
  font-family: arial, sans-serif
}
h2{font-size: 15px}

