Body {
 background-color: #ffffff;
  color: #000000;
 font-family: Helvetica, Tahoma sans-serif;
 margin-left: 245px; 
  background-color: rgb(245, 255, 250)
}
 

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #F4F6F7;
  border-bottom: 1px solid #F4F6F7;

}



.sidebar {
height: 3000%;
width: 170px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: LightSlateGray;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

img{
  position: relative;
  top: -40px
   
}


img{
  width: 100%
   
}

img{
  height: 200px
}

img{
  border-radius: 1%
}
